@keyframes prevIcon {
  0%  { transform: translateX(0px); }
  10% { transform: translateX(-5px); }
  20% { transform: translateX(0px); }
  34% { transform: translateX(-5px); }
  50% { transform: translateX(0px); }
  100%{ transform: translateX(0px); }
}
@keyframes nextIcon {
  0%  { transform: translateX(0px); }
  10% { transform: translateX(5px); }
  20% { transform: translateX(0px); }
  34% { transform: translateX(5px); }
  50% { transform: translateX(0px); }
  100%{ transform: translateX(0px); }
}